@using CvProject.ENTITY.Dtos.UserSocialMediaDtos
@model List<GetUserSocialMediaDto>



<div class="secondary-info col-auto mt-2">
    @foreach (var item in Model)
    {

        <ul class="resume-social list-unstyled">
            <li class="mb-3"><a class="text-link" href="@item.SocialMediaLink"><span class="fa-container text-center me-2"><i class="@item.SocialMediaIcon"></i></span>@item.SocialMediaName</a></li>
        </ul>
    }
</div>