<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Head")
</head>

<body>
    <article class="resume-wrapper text-center position-relative">
        <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">

            <header class="resume-header pt-4 pt-md-0">
                <div class="row">

                    <div class="col-block col-md-auto resume-picture-holder text-center text-md-start">
                        <img class="picture" src="/Themes/CvTheme/assets/images/profile.jpg" alt="">
                    </div>

                    <div class="col">
                        <div class="row p-4 justify-content-center justify-content-md-between">
                            @await Component.InvokeAsync("GetUser")

                            @await Component.InvokeAsync("GetSocialMedia")
                        </div>
                    </div>

                </div>
            </header>

            <div class="resume-body p-5">

                @await Component.InvokeAsync("GetDescription")

                <div class="row">
                    <div class="col-lg-9">

                        @await Component.InvokeAsync("GetExperience")

                    </div>
                    <div class="col-lg-3">

                        @await Component.InvokeAsync("GetSkill")

                        @await Component.InvokeAsync("GetEducation")

                        @*awards*@

                        <section class="resume-section reference-section mb-5">
                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
                            <div class="resume-section-content">
                                <ul class="list-unstyled resume-awards-list">
                                    <li class="mb-2 ps-4 position-relative">
                                        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                                        <div class="resume-award-name">Award Name Lorem</div>
                                        <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</div>
                                    </li>
                                    <li class="mb-0 ps-4 position-relative">
                                        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                                        <div class="resume-award-name">Award Name Ipsum</div>
                                        <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque.</div>
                                    </li>
                                </ul>
                            </div>
                        </section><!--//awards-section-->
                        @*language*@

                        <section class="resume-section language-section mb-5">
                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
                            <div class="resume-section-content">
                                <ul class="list-unstyled resume-lang-list">
                                    <li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Native)</small></li>
                                    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">French</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
                                    <li><span class="resume-lang-name font-weight-bold">Spanish</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
                                </ul>
                            </div>
                        </section><!--//language-section-->
                        @*interest*@

                        <section class="resume-section interests-section mb-5">
                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
                            <div class="resume-section-content">
                                <ul class="list-unstyled">
                                    <li class="mb-1">Climbing</li>
                                    <li class="mb-1">Snowboarding</li>
                                    <li class="mb-1">Cooking</li>
                                </ul>
                            </div>
                        </section><!--//interests-section-->

                    </div>
                </div><!--//row-->
            </div><!--//resume-body-->
        </div>
    </article>
    @await Html.PartialAsync("_Script")
</body>
</html>

