


<form method="post" class="form-control col-md-12">

    <label class="form-label">Select Social Media</label>

    <br />

    <select class="custom-select" name="SocialMediaName">
        <option value="Facebook">Facebook</option>
        <option value="Linkedin">Linkedin</option>
        <option value="Youtube">Youtube</option>
        <option value="Github">Github</option>
        <option value="Instagram">Instagram</option>
        <option value="Twitter">Twitter</option>
    </select>

    <br />
    <br />

    <label class="form-label">Link</label>
    <input type="text" class="form-control" name="SocialMediaLink" />

    <br />
    <button type="submit" class="btn btn-primary btn-block">Add Link</button>
    <br />

</form>
<br />












