
@{
    ViewData["Title"] = "AddLanguage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-body">

    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <h3>Add Language</h3>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail4">Language Name</label>
            <input type="text" class="form-control" name="LanguageName">
        </div>
        <label>Level</label>

        <select class="custom-select" name="LanguageLevel">
            <option value="a1">a1</option>
            <option value="a2">a2</option>
            <option value="b1">b1</option>
            <option value="b2">b2</option>
            <option value="c1">c1</option>
            <option value="c2">c2</option>
        </select>
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Add Language</button>
    </form>
    <br />
    <a href="/Admin/AdminLanguage" class="btn btn-primary">Back</a>
</div>