@{
    ViewData["Title"] = "AdminPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card-header">
    <h5 class="card-title mb-0">Public info</h5>
</div>
<div class="card-body">
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <h3>Password Change</h3>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail4">Old Password</label>
            <input type="text" class="form-control" name="">
        </div>

        <div class="form-group">
            <label for="inputEmail4"> New Password</label>
            <input type="text" class="form-control" name="">
        </div>

        <div class="form-group">
            <label for="inputEmail4">Confirm New Password</label>
            <input type="text" class="form-control" name="">
        </div>

        <button type="submit" class="btn btn-primary">Change</button>
    </form>
</div>