@using CvProject.ENTITY.Dtos.UserSkillDtos
@model List<GetUserSkillDto>
@{
    ViewData["Title"] = "AdminSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row flex-lg-nowrap">

        <div class="col">
            <div class="card-header">
                <h5 class="card-title mb-0">Skills</h5>
            </div>

            <div class="row flex-lg-nowrap">
                <div class="col mb-3">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Name</th>
                                                <th class="max-width">Level</th>
                                                <th>Actions</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td class="align-middle text-center">
                                                        <div class="bg-light d-inline-flex justify-content-center align-items-center align-top">@item.SkillName</div>
                                                    </td>



                                                    <td>
                                                        <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @item.SkillProgress%"></div>
</div>
                                                    </td>

                                                    <td class="text-center align-middle">
                                                        <div class="btn-group align-top">
                                                            <a href="/Admin/DeleteSkill/@item.Id" class="btn btn-secondary"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <a href="/Admin/AddSkill" class="btn btn-primary">Add Skill</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


