@using CvProject.ENTITY.Dtos.UserDtos
@model GetUserDto


<div class="primary-info col-auto">
    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">@ViewBag.UserName @ViewBag.UserSurname</h1>
    <div class="title mb-3">ViewBag.Position</div>
    <ul class="list-unstyled">
        <li class="mb-2"><a class="text-link" href="#"><i class="far fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>@ViewBag.UserMail</a></li>
        <li><a class="text-link" href="#"><i class="fas fa-mobile-alt fa-fw me-2" data-fa-transform="grow-6"></i>@ViewBag.UserPhoneNumber</a></li>
    </ul>
</div>