@using CvProject.ENTITY.Dtos.UserSkillDtos
@model List<GetUserSkillDto>


<section class="resume-section skills-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills</h2>
    <div class="resume-section-content">
        <div class="resume-skill-item">
            <ul class="list-unstyled mb-4">
                @foreach (var item in Model)
                {
                    <li class="mb-2">
                    <div class="resume-skill-name">@item.SkillName</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: @item.SkillProgress%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</section>